main {
    display: grid;
    grid-area: main;
    font-size: 2.5vw;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    font-family: $poppins;
    padding: 3% 0;
}

.form,
.holder_entry,
.title {
    display: grid;
    place-self: center;
    padding: 10px;
    color: #532b01;
}

.holder_city,
.arrival_date,
.departure_date,
.btn-grad {
    display: grid;
    place-self: center stretch;
    padding: 10px;
    color: #532b01;
}

.arrival_date {
    grid-area: 1 / 1 / 1 / 2;
}

.departure_date {
    grid-area: 1 / 2 / 1 / 3;
}

.holder_city {
    grid-area: 2 / 1 / 2 / 2;
}

.btn-grad {
    grid-area: 2 / 2 / 2 / 3;
}
