main {
    display: grid;
    grid-area: main;
    width: 80%;
    font-size: 2.5vw;
    border: 1px solid #2d2d2d;
    box-shadow: 2px 2px 2px #2d2d2d;
    font-family: $poppins;
    margin: 3%;
    padding: 3%;
}

.form,
.holder_entry,
.title {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    padding: 10px;

}
