@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    background: linear-gradient(to right, #0b8793, #360033);
    }

#app{
    display: grid;
    grid-column-start: 2;
    background-image: url(media/leio-mclaren-leiomclaren-com-FwdZYz0yc9g-unsplash.jpg);
    background-size: 400px;
    width: 400px;
    grid-gap: 1em;
    font-size: 30px;
    font-family: 'Mukta', sans-serif;
    color: cornsilk;
    border: 1px solid #2d2d2d;
    border-radius: 25px;
    box-shadow: 2px 2px 2px #2d2d2d;
}

.holder_headline,
.holder_zip,
.holder_feel,
.holder_entry {
    display: grid;
    justify-self: center;
    align-self: center;
    text-shadow: 1px 1px 1px #2d2d2d;
}

.entryHolder{
    font-size: 30px;
    font-family: 'Mukta', sans-serif;
    border: 1px solid #2d2d2d;
}

#date,
#temp,
#content {
    font-size: 20px;
    font-family: 'Mukta', sans-serif;
}

.title{
    font-size: 20px;
    font-family: 'Mukta', sans-serif;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:grid;
    font-size: 0.8em;
    justify-self: center;
    align-self: center;
}

input{
    display:grid;
    justify-self: center;
    align-self: center;
    height: 35px;
    width: 280px;
    background: linear-gradient(to right, #0b8793, #360033);
    color: cornsilk;
    font-size: 20px;
    font-family: 'Mukta', sans-serif;
    border: 1px solid #2d2d2d;
    border-radius: 25px;
    box-shadow: 2px 2px 2px #2d2d2d;
}

button{
    display: grid;
    justify-self: center;
    align-items: center;
    width: 120px;
    height: 40px;
    background: linear-gradient(to right, #0b8793, #360033);
    color: cornsilk;
    font-size: 20px;
    font-family: 'Mukta', sans-serif;
    border: 1px solid #2d2d2d;
    border-radius: 25px;
    box-shadow: 2px 2px 2px #2d2d2d;
    margin: 10px;
}

button:hover{
    cursor: pointer;
    background: #EF629F;
    transition: 0.7s;
}

textarea{
    background: linear-gradient(to right, #0b8793, #360033);
    border: 1px solid #2d2d2d;
    border-radius: 25px;
    box-shadow: 2px 2px 2px #2d2d2d;
    color: cornsilk;
    text-align: center;
    font-size: 20px;
    font-family: 'Mukta', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
    text-align: center;
    color: cornsilk; 
    font-family: 'Mukta', sans-serif;
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    text-align: center;
    color: cornsilk; 
    font-family: 'Mukta', sans-serif;
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    text-align: center;
    color: cornsilk; 
    font-family: 'Mukta', sans-serif;
} 