header {
    grid-column-start: span 3;
    display: flex;
    flex-direction: column;
    background-image: url('../media/sean-o-KMn4VEeEPR8-unsplash_adobespark.jpg');
    width: 100%;
    margin:0;
}

h1 {
    align-self: center;
    font-family: $poppins;
}

h2 {
    align-self: center;
    font-family: $poppins;
}