header {
    display: flex;
    flex-direction: column;
    background-image: url('../media/sean-o-KMn4VEeEPR8-unsplash_adobespark.jpg');
    background-size: cover;
    width: 100%;
}

h1 {
    justify-self: center;
}

h2 {
    justify-self: center;
}